---
title: How to win board games
layout: base
priority: 1.0
change_frequency: weekly
---

.row
  .col-md-7
    %div(style="margin-bottom: 10px")
      :asciidoc
        = What is BoardGameMath?

        BoardGameMath explains and visualizes the mathematics behind strategic board games
        to help you *improve your game performance* and win them more often.

  .col-md-5

.row
  .col-md-12
    = partial('latestArticles.html.haml', :outputPage => page)
