---
title: How to win board games
layout: base
priority: 1.0
change_frequency: weekly
---

.row
  %div(style="margin-bottom: 10px")
    :asciidoc
      = What is BoardGameMath?

      BoardGameMath explains and visualizes the mathematics behind strategic board games
      to help you *improve your game performance* and win them more often.

.row
  = partial('allGames.html.haml', :outputPage => page, :includingSubPages => true)

.row.text-center
  -# Google AdSense
  :plain
    <!-- indexBottomAd -->
    <ins class="adsbygoogle"
      style="display:inline-block;width:728px;height:90px"
      data-ad-client="ca-pub-6008098724306399"
      data-ad-slot="6038106538"></ins>
