.panel.panel-default
  .panel-heading How to win...
  .panel-body
    %ul.list-unstyled
      - for game in site.games
        %li(style="margin-bottom: 10px;")
          .title
            %a{:href => relative("/boardgames/#{game.gameId}/index.html", page.outputPage)}<
              #{game.name}
