---
game_id: gloomhaven
title: Gloomhaven deck builder
description: Build the perfect deck for your Gloomhaven character
layout: boardGameCalculatorBase
priority: 1.0
---

%link(rel="stylesheet" href="gloomhavenDeckBuilder.css")

%p
  Click on a card to add it to your deck.
  Copy the url to share your deck with your friends.

%section
  Character:
  %select(onchange="changeCharacter(this)")

.statistics
  .row
    .col-md-4
      Cards:
      %span#cardCount 0
      %br
      Required level:
      %span#requiredLevel 1
    .col-md-4
      %b
        Lost cards
      %br
      Top:
      %span#topLostCardCount 0
      \-
      Bottom:
      %span#bottomLostCardCount 0
    .col-md-4
      %b
        Avg initiative
      %br
      Lower half:
      %span#lowerHalfAvgInitiative 0
      \-
      Higher half:
      %span#higherHalfAvgInitiative 0

%section
  %h2 Available cards:
  .availableCards
  %div(style="clear: both;")

-#%section
-#  %h2 Selected cards:
-#  .selectedCards
-#  %div(style="clear: both;")

:asciidoc
  == Calculation details

  * No calculations yet

  == Known issues

  * None yet

%script{:src => relative("/website/d3/d3.min.js")}
%script{:src => "gloomhavenDeckBuilder.js"}
