---
game_id: gloomhaven
title: Gloomhaven perk calculator
description: Pick the perks well to build the best attack modifier deck for your Gloomhaven character
layout: boardGameCalculatorBase
priority: 1.0
---

%link(rel="stylesheet" href="gloomhavenPerkCalculator.css")
%section(style="display:block;")
  %button(onclick="resetDeck()")
    Reset deck
%svg.cardsChart
%svg.attacksChart

:asciidoc
  == Guide

  Coming soon...

  == Known issues

  * No support yet for rolling modifier cards
  * No support yet for other effect cards
  * No support yet for advantage and disadvantage

%script{:src => relative("/website/d3/d3.min.js")}
%script{:src => "gloomhavenPerkCalculator.js"}
