.handCardBar {
    fill: steelblue;
}
.discardCardBar {
    fill: skyblue;
}
.revivingEther {
    fill: purple;
}
.shortRest {
    fill: gold;
}
.longRest {
    fill: silver;
}
.roundCount {
    font: 18px sans-serif;
    fill: darkorange;
}
.barButton {
    cursor: pointer;
}
.barButtonGrayScaleHack {
    cursor: pointer;
    fill: white;
    fill-opacity : 0.7;
}

.axis text {
    font: 10px sans-serif;
}
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}
