section {
    display: block;
}

.statistics {
    margin-top: 20px;
    position: sticky;
    top: 50px;
    border: 2px solid black;
    padding: 10px;
    background: steelblue;
}

.availableCard {
    float: left;
    margin: 2px;
    padding: 10px;
    cursor: pointer;
}

.selectedAvailableCard {
    background: gold;
    border: 1px solid black;
    padding: 9px;
}


.selectedCard {
    float: left;
    margin: 2px;
    padding: 10px;
}
