---
gameId: gloomhaven
title: Gloomhaven stamina exhaustion calculator
description: Calculate how many turns until your Gloomhaven character runs out of cards to avoid premature exhaustion.
layout: boardGameCalculatorBase
priority: 1.0
---

%link(rel="stylesheet" href="gloomhavenStaminaCalculator.css")
%section(style="display:block;")
  Character:
  %select(onchange="changeCharacter(this)")
%svg.chart

:asciidoc
  == Guide

  link:gloomhavenStaminaGuide.html[Take a look at our stamina guide.]

%script{:src => relative("/website/d3/d3.min.js")}
%script{:src => "gloomhavenStaminaCalculator.js"}
