---
layout: base
---

.row
  .col-md-9
    ~ content
  .col-md-3
    = partial('subPages.html.haml', :outputPage => page)

    -# Google AdSense
    :plain
      <!-- normalBaseRightAd -->
      <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-6008098724306399"
        data-ad-slot="8227147992"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>

    = partial('allGames.html.haml', :outputPage => page)
